@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: rgb(24, 224, 218);
}