@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');

:root{
   --main-color:#2980b9;
   --red:#e74c3c;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-bg:#f5f5f5;
   --light-color:#666;
   --border:.1rem solid var(--light-color);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear; 
}

::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 7rem;
}

body{
   background: var(--light-bg);
}

section{
   padding:2rem;
   margin:0 auto;
   max-width: 1200px;
}

.heading{
   text-align: center;
   margin-bottom: 2rem;
   font-size: 3.5rem;
   color:var(--black);
   text-transform: uppercase;
}

.delete-btn,
.option-btn,
.btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 2rem;
   color:var(--white);
   cursor: pointer;
   text-transform: capitalize;
   text-align: center;
}

.btn{
   background-color: var(--main-color);
}

.delete-btn{
   background-color: var(--red);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn:hover,
.option-btn:hover,
.btn:hover{
   background-color:var(--black);
}

.flex-btn{
   display: flex;
   gap:1rem;
}

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   background-color: var(--light-bg);
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
   z-index: 10000;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--main-color);
}

.message i:hover{
   color:var(--black);
}

.empty{
   padding:1.5rem;
   background: var(--white);
   color:var(--red);
   border-radius: .5rem;
   border:var(--border);
   font-size: 2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   text-transform: capitalize;
}

.header{
   position:sticky;
   top:0; left:0; right:0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .flex .logo span{
   color: var(--main-color);
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2.2rem;
   color:var(--black);
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--main-color);
}

.header .flex .icons div{
   font-size: 2.5rem;
   color:var(--light-color);
   cursor: pointer;
   margin-left: 1.7rem;
}

.header .flex .icons div:hover{
   color:var(--main-color);
}

@keyframes fadeIn{
   0%{
      transform: translateY(1rem);
   }
}

.header .flex .profile{
   position: absolute;
   top:120%; right:2rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding:2rem;
   box-shadow: var(--box-shadow);
   display: none;
   animation: fadeIn .2s linear;
   width: 30rem;
   border:var(--border);
}

.header .flex .profile.active{
   display: inline-block;
}

.header .flex .profile p{
   margin-bottom: 1rem;
   font-size: 2rem;
   color:var(--black);
   text-align: center;
}

#menu-btn{
   display: none;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   text-align: center;
   padding:2rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   width: 50rem;
   background-color: var(--white);
   border:var(--border);
}

.form-container form h3{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.form-container form p{
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.3rem;
   font-size: 2rem;
   color:var(--light-color);
   margin:1rem 0;
}

.form-container form p span{
   color:var(--red);
}

.form-container form .box{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.4rem;
   margin:1rem 0;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
}

.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.dashboard .box-container .box{
   padding:2rem;
   text-align: center;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.dashboard .box-container .box p{
   margin:1rem 0;
   background-color: var(--light-bg);
   border-radius: .5rem;
   color:var(--light-color);
   font-size: 2rem;
   padding:1.5rem;
   border:var(--border);
}

.dashboard .box-container .box h3{
   font-size: 4rem;
   color:var(--black);
}

.add-products form{
   max-width: 50rem;
   margin:0 auto;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   padding:2rem;
   border:var(--border);
   padding-top: 1.5rem;
}

.add-products form .box{
   width: 100%;
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--light-bg);
   margin:1rem 0;
}

.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.show-products .box-container .box{
   padding:2rem;
   text-align: center;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   position: relative;
}

.show-products .box-container .box img{
   width: 100%;
}

.show-products .box-container .box .price{
   position: absolute;
   top:1rem; left:1rem;
   border-radius: .5rem;
   background-color: var(--black);
   color:var(--white);
   padding:.5rem 1rem;
   font-size: 2rem;
}

.show-products .box-container .box .price span{
   font-size: 2.5rem;
}

.show-products .box-container .box .name{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.update-product form{
   max-width: 50rem;
   margin:0 auto;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   padding:2rem;
   border:var(--border);
   padding-top: 1.5rem;
}

.update-product form .box{
   width: 100%;
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--light-bg);
   margin:1rem 0;
}

.update-product form img{
   width: 100%;
}

.orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.orders .box-container .box{
   padding:2rem;
   padding-top: 1rem;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.orders .box-container .box p{
   line-height: 1.5;
   font-size: 2rem;
   color:var(--light-color);
   margin:1rem 0;
}

.orders .box-container .box p span{
   color:var(--main-color);
}

.orders .box-container .select{
   margin-bottom: .5rem;
   width: 100%;
   background-color: var(--light-bg);
   padding:1rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   border:var(--border);
}

.accounts .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.accounts .box-container .box{
   padding:2rem;
   padding-top: 1rem;
   border-radius: .5rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.accounts .box-container .box p{
   font-size: 2rem;
   color:var(--light-color);
   margin: .5rem 0;
}

.accounts .box-container .box p span{
   color:var(--main-color);
}














@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading{
      font-size: 2.5rem;
   }

   .flex-btn{
      flex-flow: column;
      gap:0;
   }

   .dashboard .box-container{
      grid-template-columns: 1fr;
   }

   .show-products .box-container{
      grid-template-columns: 1fr;
   }

   .orders .box-container{
      grid-template-columns: 1fr;
   }

   .accounts .box-container{
      grid-template-columns: 1fr;
   }

}