body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1900x1000/?landscape");
  font-size: 120%;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}
select option {
  background: #7c7c7c2b;
  color: black;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#getLocationButton {
  width: 20rem;
  height: 40px;
  border-radius: 0%;
}
#unitSelect {
  margin: 0.5em;
  border-radius: 0%;
  border: none;
  height: 44px;
  width: 4rem;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}
.error {
  color: red;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

footer .footer-rights{
  background-color: #C8E4B2;
  color: darkslategray;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;

}
/* .footer{
  background-color:rgb(200, 228, 178) ;
  height: 250px;
  color: black;
}
.footer{
  display: flex;
  padding: 23px 122px;
  list-style: none;
}
.footer >div{
  width: 300px;
}
.footer ul{
  list-style: none;
  padding: 80px; */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #222 url("https://source.unsplash.com/1900x1000/?landscape") center/cover no-repeat;
  font-size: 120%;
}

.card {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2em;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

select option {
  background: #7c7c7c2b;
  color: black;
  cursor: pointer;
}

/* Update button styles as needed

